*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    font-size: 16px;
    font-family: 'DotGothic16', sans-serif;
  }

header {
    text-align: center;
    color: var(--black);
}

header ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    margin: 60px auto 0 auto;
    width: 60%;
}

.center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

p {
    width: 100%;
}

.btn {
    background-color: rgb(0, 174, 255);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
}

.btn:hover {
    background-color: rgb(4, 0, 255);
  }

#go-back a {
    text-decoration: none;
    color: white;
}

.container ul {
    list-style: none;
    float: left;
    width: 70%;
}

.choice {
    background-color: rgb(121, 0, 20);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;
    padding: 10px;
}

.choice:hover {
    background-color: rgb(255, 0, 0);
}

.feedback {
    color: lightslategray;
    font-style: italic;
    text-align: left;
}

form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .form-item {
    margin: 10px 6px 10px 0;
    flex: 1;
}

.text-input {
    font-size: 20px;
}

#save-score:disabled {
    pointer-events: none;
}

.score-item {
    margin: 15px;
    padding: 10px;
}

.score-item:hover {
    background-color: rgb(193, 171, 202);
}